<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>EclipseProj1</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pack1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/ls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initParamServlet</display-name>
    <servlet-name>initParamServlet</servlet-name>
    <servlet-class>pack1.initParamServlet</servlet-class>
    <init-param>
      <param-name>a1</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>a2</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>initParamServlet</servlet-name>
    <url-pattern>/ipS</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>adam</param-value>
  </context-param>
  <context-param>
    <param-name>access</param-name>
    <param-value>level 5</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>s1</display-name>
    <servlet-name>s1</servlet-name>
    <servlet-class>pack1.s1</servlet-class>
        <init-param>
      <param-name>d</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s2</display-name>
    <servlet-name>s2</servlet-name>
    <servlet-class>pack1.s2</servlet-class>
            <init-param>
      <param-name>d</param-name>
      <param-value>15</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s3</display-name>
    <servlet-name>s3</servlet-name>
    <servlet-class>pack1.s3</servlet-class>
            <init-param>
      <param-name>d</param-name>
      <param-value>25</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/s3</url-pattern>
  </servlet-mapping>
  
    <context-param>
    <param-name>a</param-name>
    <param-value>2</param-value>
  </context-param>
      <context-param>
    <param-name>b</param-name>
    <param-value>4</param-value>
  </context-param>
      <context-param>
    <param-name>c</param-name>
    <param-value>6</param-value>
  </context-param>
  
</web-app>